<a href="https://colab.research.google.com/github/Datriks/Python-for-Finance/blob/master/LLoy_calc_returns_and_volatility.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/c2/31/8b374a12b90def92a4e27d0fc595fc43635f395984e36a075244d98bd265/yfinance-0.1.54.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.0.4)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.18.4)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2020.4.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.12.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.54-py2.py3-none-any.whl size=22409 sha256=db6aae663eb7c62782c8c8c019f90ed02edb93894db8675e8ec736a1689236aa
  Stored in directory: /root/.cache/pip/wheels/f9/e3/5b/ec24dd2984b12d61e0abf26289746c2436a0e7844f26f2515c
Successfully built yfinance
Installing collected packages: yfinance
Successfully installed yfinance-0.1.54

In [0]:
import pandas as pd
import yfinance as yf
import numpy as np

In [8]:
#download data from yahoo.finance
df = yf.download('LLOY.L',
                 start='2011-1-1',
                 auto_adjust=False,
                 progress=False)
df.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2011-01-04  66.709999  68.699997  66.099998  67.839996  51.203289  182185988
2011-01-05  67.629997  68.529999  66.830002  68.529999  51.724068  129089224
2011-01-06  68.269997  68.849998  67.050003  67.250000  50.757973  108816240
2011-01-07  67.059998  67.949997  66.300003  66.430000  50.139069  138028432
2011-01-10  66.410004  66.620003  65.019997  65.190002  49.203152  119162240

In [9]:
df = df.loc[:,['Adj Close']]
df.rename(columns={'Adj Close':'adj_close'},inplace=True)
df.head()

            adj_close
Date
2011-01-04  51.203289
2011-01-05  51.724068
2011-01-06  50.757973
2011-01-07  50.139069
2011-01-10  49.203152

In [11]:
#calculate simple returns
df['log_rtn']=np.log(df.adj_close/df.adj_close.shift(1))
df.head()

            adj_close   log_rtn
Date
2011-01-04  51.203289       NaN
2011-01-05  51.724068  0.010119
2011-01-06  50.757973 -0.018854
2011-01-07  50.139069 -0.012268
2011-01-10  49.203152 -0.018843

In [13]:
# remove unwanted data
df.drop('adj_close',axis=1,inplace=True)
df.dropna(axis=0,inplace=True)
df.head()

             log_rtn
Date
2011-01-05  0.010119
2011-01-06 -0.018854
2011-01-07 -0.012268
2011-01-10 -0.018843
2011-01-11  0.015072