<a href="https://colab.research.google.com/github/Datriks/Python-for-Finance/blob/master/Rbs_calc_returns_and_volatility.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clculating Returns and Volatility

In [2]:
pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/c2/31/8b374a12b90def92a4e27d0fc595fc43635f395984e36a075244d98bd265/yfinance-0.1.54.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.0.4)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.18.4)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2020.4.5.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.12.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.54-py2.py3-none-any.whl size=22409 sha256=9c1bbaff39c099f24544ad8699135d13401c9beb76678f4061408614735f3c21
  Stored in directory: /root/.cache/pip/wheels/f9/e3/5b/ec24dd2984b12d61e0abf26289746c2436a0e7844f26f2515c
Successfully built yfinance
Installing collected packages: yfinance
Successfully installed yfinance-0.1.54

In [0]:
import pandas as pd
import yfinance as yf
import numpy as np

In [5]:
# Download data
df = yf.download('RBS.L',
                 start='2011-1-1',
                 auto_adjust=False,
                 progress=False)
df.head()

                  Open        High  ...   Adj Close    Volume
Date                                ...
2011-01-04  405.000000  412.500000  ...  354.905823  10912708
2011-01-05  407.000000  410.000000  ...  357.261383   9658431
2011-01-06  405.399994  416.500000  ...  353.248199  11210095
2011-01-07  404.000000  404.100006  ...  349.845703   9055659
2011-01-10  400.799988  404.700012  ...  344.611115   6564457

[5 rows x 6 columns]

In [6]:
#keep only the adjusted close price
df = df.loc[:,['Adj Close']]
df.rename(columns={'Adj Close':'adj_close'},inplace=True)
df.head()

             adj_close
Date
2011-01-04  354.905823
2011-01-05  357.261383
2011-01-06  353.248199
2011-01-07  349.845703
2011-01-10  344.611115

In [8]:
#calculate simple returns
df['Log_returns'] = np.log(df.adj_close/df.adj_close.shift(1))
df.head()

             adj_close  Log_returns
Date
2011-01-04  354.905823          NaN
2011-01-05  357.261383     0.006615
2011-01-06  353.248199    -0.011297
2011-01-07  349.845703    -0.009679
2011-01-10  344.611115    -0.015076

In [9]:
#remove redundant data
df.drop('adj_close',axis=1,inplace=True)
df.dropna(axis=0,inplace=True)
df.head()

            Log_returns
Date
2011-01-05     0.006615
2011-01-06    -0.011297
2011-01-07    -0.009679
2011-01-10    -0.015076
2011-01-11     0.019058